* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.menu {
    margin: 10px;
    width: 200px;
    background-color: #f5f5f5b0;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    margin-bottom: 8px;
  }
  
  .menu ul li a {
    display: block;
    padding: 7px 9px;
    background-color: #ececec;
    color: #000;
    text-decoration: none;
    border-radius: 1px 5px 4px 2px;
  }
  
  .menu ul li a:hover {
    background-color: #eee;
  }

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;  
    justify-content: center;
    display: grid;
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-size: 20px;
    padding-top: 15px;
    margin-top: 1%;
}

.container h2{
    text-align: center;
    font-size: 30px;
    padding: 5px;
}

input{
    color: #000;
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 1px 3px 3px 2px;
    background-color: rgb(250, 250, 250);
    width: 100%;
    display: block;
    transition: all 0.5s;
}

.form__input:placeholder-shown + .form__label {
        opacity: 0;
        visibility: hidden;
        border: none;
        -webkit-transform: translateY(-4rem);
        transform: translateY(-4rem);
}


button{
    padding: 8px;
    background-color: #1c9ad9;
    color: white;
    border-radius: 9px;
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    width: 100%;
}

button:active{
    background-color: #31257f;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 17px;
    color: #322b7f;
    text-align: center;
}