* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.menu {
    margin: 10px;
    width: 200px;
    background-color: #f5f5f5b0;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;

  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
  }
  
  .menu ul li {
    margin-bottom: 8px;
  }
  
  .menu ul li a {
    display: block;
    padding: 7px 9px;
    background-color: #ececec;
    color: #000;
    text-decoration: none;
    border-radius: 1px 5px 4px 2px;
    
  }
  
  .menu ul li a:hover {
    background-color: #eee;
  }

h1{
    margin-top: ;
    margin-left: 15vw;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 70px;
    margin-left: 14vw;
    margin-top: 10vh;
    padding: 16px;
}
.container h2{
    text-align: center;
}

.produtos {
    width: 420px;
    height: 200px;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 110, 255, 0.24) 0px 1px 2px;
}
.produtos p{
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.itens{
    width: 420px;
    height: 200px;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(255, 0, 149, 0.24) 0px 1px 2px;
}
.itens p{
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.clientes{
    width: 420px;
    height: 200px;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(166, 255, 0, 0.24) 0px 1px 2px;
}
.clientes p{
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.vendas{
    width: 420px;
    height: 200px;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(255, 166, 0, 0.24) 0px 1px 2px;
}
.vendas p{
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.andamento{
    width: 420px;
    height: 200px;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(89, 0, 255, 0.24) 0px 1px 2px;
}
.andamento p{
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.recibo{
    width: 420px;
    height: 200px;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 255, 179, 0.24) 0px 1px 2px;
}
.recibo p{
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.gerarRecibo a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
}
.gerarRecibo{
    margin-left: 174vh;
    margin-top: -5%;
    margin-bottom: -15%;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}

.gerarRecibo:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.gerarRecibo:focus {
    border-color: #4285f4;
    outline: none;
}
